<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="client/style.css"></link>
		<script src="client/gun.js"></script>
		<script src="client/angular.min.js"></script>
		<script src="client/trafficlightsController.js"></script>
	</head>
	<body ng-app="trafficlights" ng-controller="trafficlightsController">
		<h3>JS-Trafficlights</h3>
		<table>
			<thead>
				<tr>
				<th>Name</th>
				<th>Used by</th>
				<th>Used from</th>
				<th>In use</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="obj in structuredData">
					<td>{{obj.name}}</td>
					<td>{{obj.used_by}}</td>
					<td>{{obj.used_from}}</td>
					<td ng-if="obj.in_use">Occupied</td>
					<td ng-if="!obj.in_use"><a ng-click="">Free</a></td>
				</tr>
			</tbody>
		</table>
		<button id="clear" ng-click="clear()">clear</button>
		<li id="model">
			<b>field</b>:
			<span contenteditable="true">val</span>
		</li>
		<ul>
			<li>
				<label>
					<input id="field" ng-model="addField" placeholder="field">
					<button id="add" ng-click="addTrafficlight()">add</button>
				</label>
			</li>
		</ul>
		<!-- <script>
			document.onkeyup = function(e){
				if(!e || !e.target){ return } // ignore if no element!
				if(!e.target.attributes.contenteditable){ return } // ignore if element content isn't editable!
				ref.path(clean(e.target.previousElementSibling.innerHTML)) // grab the label, which is in the previous element.
				   .put( clean(e.target.innerHTML) ); // insert the value of the text in the current element.
			}
		</script> -->
	</body>
</html>
