<!DOCTYPE html>
<html>
	<head>
    		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="client/style.css"></link>
		<script src="client/gun.js"></script>
		<script src="client/angular.min.js"></script>
    		<script src="client/moment.min.js"></script>
		<script src="client/trafficlightsController.js"></script>
	</head>
	<body ng-app="trafficlights" ng-controller="trafficlightsController">
		<h3>JS-Trafficlights</h3>
		<div>
			<label>
				Username:
				<input id="username" ng-model="username" placeholder="username" />
			</label>
		</div>
		<table>
			<thead>
				<tr>
					<th ng-click="sortColumn('name')">Name</th>
					<th ng-click="sortColumn('type')">Type</th>
					<th ng-click="sortColumn('used_by')">Used by</th>
					<th ng-click="sortColumn('used_from')">Used from</th>
					<th ng-click="sortColumn('in_use')">In use</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="obj in data">
					<td>{{obj.name}}</td>
					<td>{{obj.type}}</td>
					<td ng-if="obj.in_use">{{obj.used_by}}</td>
					<td ng-if="obj.in_use">{{obj.used_from}}</td>
					<td ng-if="obj.in_use"><a ng-click="setFree(obj.name)">Occupied</a></td>
					<td ng-if="!obj.in_use">{{obj.used_by}}</td>
					<td ng-if="!obj.in_use">{{obj.used_from}}</td>
					<td ng-if="!obj.in_use"><a ng-click="setOccupied(obj.name)">Free</a></td>
					<td ng-if="!obj.in_use"><a ng-click="remove(obj.name)">Remove</a></td>
				</tr>
			</tbody>
		</table>
		<div>
			<label>
				<input id="name" ng-model="newName" placeholder="name">
				<input id="type" ng-model="newType" placeholder="type">
				<button id="add" ng-click="addTrafficlight()">add</button>
			</label>
		</div>
		<div>
			<label>
				<button id="clear" ng-click="clear()">CLEAR</button>
			</label>
		</div>
	</body>
</html>
