html {
  font-family: Verdana;
  font-size: 16px;
}
table, div {
  padding: 8px 8px 8px 8px;
}
a {
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
}
button {
  border: none;
  color: skyblue;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}
td {
  padding: 5px 5px 5px 10px;
}
th {
  padding: 5px 10px 5px 10px;
}
input {
  border: none;
  border-bottom: dashed 1px gainsboro;
}
.none, #model {
  display: none;
}
